# Intermediate CMake build files
CMakeFiles/
build/CMakeFiles/
build/CMakeCache.txt
build/cmake_install.cmake
build/.ninja_*
build/build.ninja

# Compiled object and library files
*.obj
*.o
*.a
*.lib
*.ninja
.ninja_*

# Output directories created by the application during runtime
format done/
split done/
original files/
done/

# IDE / Editor configuration
.vscode/
.vs/
.idea/
*.user
*.suo
